In [1]:
import pandas as pd
import os
import shutil
from pprint import pprint

In [2]:
start_num = 2943
new_data = []

In [3]:
to_add_data = pd.read_csv('Data/final_data_2.csv')
extra_wavs = os.listdir('WavFormat/andthis/')

In [4]:
to_add_data.pop('Unnamed: 0')
to_add_data

,speakerid,filename,birthplace,native_language,sex
0,11,arabic1,"riyadh, saudi arabia",arabic,female
1,12,arabic10,"cairo, egypt",arabic,male
2,13,arabic11,"monastir, tunisia",arabic,female
3,14,arabic12,"baghdad, iraq",arabic,male
4,15,arabic13,"zabbougha, lebanon",arabic,male
...,...,...,...,...,...
471,2933,spanish225,"durango, mexico",spanish,male
472,2934,spanish226,"los mochis, sinaloa, mexico",spanish,male
473,2935,spanish227,"durango, durango, mexico",spanish,female
474,2937,hindi34,"pune, india",hindi,male
475,2938,spanish228,"piura, peru",spanish,female

In [5]:
for file in extra_wavs:
    info = {'speakerid': start_num, 'filename': 1, 'birthplace': 2, 'native_language': 3, 'sex': 4}
    start_num += 1
    file_name = file.split('_')[0]
    row_num = to_add_data[to_add_data['filename'] == file_name].index[0]
    info['filename'] = os.path.splitext(file)[0]
    info['birthplace'] = to_add_data.loc[row_num].birthplace
    info['native_language'] = to_add_data.loc[row_num].native_language
    info['sex'] = to_add_data.loc[row_num].sex
    new_data.append(info)
    shutil.copy(f'WavFormat/andthis2/{file}',f'WavFormat/{file}')

In [6]:
df = pd.DataFrame(new_data)
df

,speakerid,filename,birthplace,native_language,sex
0,2943,bengali10_pitch1,"dhaka, bangladesh",bengali,female
1,2944,bengali10_pitch2,"dhaka, bangladesh",bengali,female
2,2945,bengali10_roll1,"dhaka, bangladesh",bengali,female
3,2946,bengali10_roll2,"dhaka, bangladesh",bengali,female
4,2947,bengali10_stretch1,"dhaka, bangladesh",bengali,female
...,...,...,...,...,...
427,3370,hindi9_roll2,"durgapur, west bengal, india",hindi,male
428,3371,hindi9_stretch1,"durgapur, west bengal, india",hindi,male
429,3372,hindi9_stretch2,"durgapur, west bengal, india",hindi,male
430,3373,hindi9_wn,"durgapur, west bengal, india",hindi,male
431,3374,hindi9_wn2,"durgapur, west bengal, india",hindi,male

In [7]:
final_data = pd.concat([to_add_data, df])
final_data

,speakerid,filename,birthplace,native_language,sex
0,11,arabic1,"riyadh, saudi arabia",arabic,female
1,12,arabic10,"cairo, egypt",arabic,male
2,13,arabic11,"monastir, tunisia",arabic,female
3,14,arabic12,"baghdad, iraq",arabic,male
4,15,arabic13,"zabbougha, lebanon",arabic,male
...,...,...,...,...,...
427,3370,hindi9_roll2,"durgapur, west bengal, india",hindi,male
428,3371,hindi9_stretch1,"durgapur, west bengal, india",hindi,male
429,3372,hindi9_stretch2,"durgapur, west bengal, india",hindi,male
430,3373,hindi9_wn,"durgapur, west bengal, india",hindi,male
431,3374,hindi9_wn2,"durgapur, west bengal, india",hindi,male

In [8]:
final_data.to_csv('Data/3_lang.csv')